<div class="container bg-white mb-4">
    <div class="row">
        <div class="col-md-3" style="background: hsla(0,0%,78%,.23);">
            <%= render 'profiles/sidebar' %>
        </div>

        <div class="col-md-9 my-3">
            <h2>Already Read Shelf</h2>
            <div class="row my-4 mx-2">
                <% @user.read_resources.each do |resource| %>
                    <div class="col-md-3 text-center">
                        <div class="img">
                            <% if resource.image_url.present? %>
                                <%= link_to image_tag(resource.image_url, size: "180x290.11"), resource %>
                            <% else %>
                                <%= link_to image_tag("https://images.unsplash.com/photo-1532012197267-da84d127e765?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", size: "180x290.11"), resource %>
                            <% end %>
                        </div>
                        <div class="">
                            <%= link_to 'View details', resource, class: "btn btn-primary w-100 mx-auto my-3" %>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>