<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Search for Library Resource</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= form_tag resources_path, method: 'get' do %>
          <%= text_field_tag :search, params[:search], class: "form-control" %>
          <%= submit_tag :Search, class: "btn btn-primary btn-sm mt-2" %>
        <% end %>
        <br>
        <%= link_to "Advanced Search", new_search_path %>
      </div>
    </div>
  </div>
</div>